.summary__title{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 1rem;
}

.summary__container {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    margin-bottom: 28px;
    margin-top: 18px;
    padding: 2rem;
}
