*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

body {
  color:  hsl(224, 30%, 27%);
  background-color: #f2f2f2;
  font-size: 1.125rem;
  font-family: "Hanken Grotesk", sans-serif;
  min-height: 100dvh;
}
